// Define variables for your color scheme

// For example:
$red: #EB5C55;
$blue: #3D82DC;
$light-blue: #A3D2FB;
$yellow: #F9DC6B;
$dark-yellow: #D7AA3C;
$orange: #EF8B37;
$green: #4BC4B5;
$dark-green: #2B5A56;
$gray: #252626;
$light-gray: #F4F7F6;
$white: #FFFFFF;
