<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>

<p>Total price: <%= @booking.amount %></p

<%= form_tag space_bookings_path do %>
  <%= hidden_field_tag 'booking_id', @booking.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
