<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <div class="social-links mb-3">

          <a href="#"><i class="fab fa-github margin-right-10"></i></a>
          <a href="#"><i class="fab fa-instagram margin-right-10"></i></a>
          <a href="#"><i class="fab fa-facebook-square margin-right-10"></i></a>
          <a href="#"><i class="fab fa-twitter margin-right-10"></i></a>
          <a href="#"><i class="fab fa-linkedin-in margin-right-10"></i></a>
        </div>

        <h6 class="mb-1">Select a language</h6>
        <a class="lang-lnk right-border" href="/nl">Nederlands</a> or
        <a class="lang-lnk" href="/en">English</a> or
        <a class="lang-lnk" href="/en">German</a>
        <small class="d-block mb-3 text-muted mt-3">© 2018</small>

        <div class="footer-copyright">
          This project was made with <i class="fa fa-heart" style="color: #D23333;
}"></i> in Bali
        </div>


      </div>
      <div class="col-6 col-md">
        <h5 class="mb-3">About Open Space</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" target="_blank" href="https://www.open-space.com/team/">Our team</a></li>
          <li><a class="text-muted" target="_blank" href="https://www.open-space.com/">Mission Statement</a></li>
          <li><a class="text-muted" target="_blank" href="https://www.open-space.com/news/">News</a></li>
          <li><a class="text-muted" target="_blank" href="https://www.open-space.com/gallery/">Gallery</a></li>


          <h5 class="mb-3 margin-top-30">Support </h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="mailto:info@open-space.com">Contact Us</a></li>
            <li><a class="text-muted" href="https://www.iubenda.com/privacy-policy/7951305">Privacy Policy &amp; Terms of Use</a></li>
          </ul>

          <h5 class="mb-3 margin-top-30">Involvement</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/events">Meet Hosts</a></li>

              <li><a class="text-muted" href="/work">Share Your Network</a></li>
              <li><a class="text-muted" href="/pages/partner"><span class="translation_missing" title="translation missing: nl.footer.become">Become</span></a></li>
            </ul>


        </div>

        <div class="col-6 col-md">
          <h5 class="mb-3">Activities</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/spaces/activation">Activations</a></li>
            <li><a class="text-muted" href="/spaces/audition">Auditions</a></li>
            <li><a class="text-muted" href="/spaces/baby-shower">Baby Showers</a></li>
            <li><a class="text-muted" href="/spaces/birthday-party">Birthday Parties</a></li>
            <li><a class="text-muted" href="/spaces/casting">Castings</a></li>
            <li><a class="text-muted" href="/spaces/class">Classes</a></li>
            <li><a class="text-muted" href="/spaces/cocktail-party">Cocktail Parties</a></li>
            <li><a class="text-muted" href="/spaces/conference">Conferences</a></li>
            <li><a class="text-muted" href="/spaces/corporate-event">Corporate Events</a></li>
            <li><a class="text-muted" href="/spaces/exhibit">Exhibits</a></li>
            <li><a class="text-muted" href="/spaces/fashion-show">Fashion Shows</a></li>
            <li><a class="text-muted" href="/spaces/film-shoot">Film Shoots</a></li>
            <li><a class="text-muted" href="/spaces/fundraiser">Fundraisers</a></li>
            <li><a class="text-muted" href="/spaces/holiday-party">Holiday Parties</a></li>
            <li><a class="text-muted" href="/spaces/meeting">Meetings</a></li>
            <li><a class="text-muted" href="/spaces/networking-event">Networking Events</a></li>
            <li><a class="text-muted" href="/spaces/performance">Performance Events</a></li>
            <li><a class="text-muted" href="/spaces/photo-shoot">Photo Shoots</a></li>
            <li><a class="text-muted" href="/spaces/product-launch">Product Launches</a></li>
            <li><a class="text-muted" href="/spaces/retail-pop~up">Retail Pop-Ups</a></li>
            <li><a class="text-muted" href="/spaces/sweet-16">Sweet 16</a></li>
            <li><a class="text-muted" href="/spaces/video-shoot">Video Shoots</a></li>
            <li><a class="text-muted" href="/spaces/wedding-ceremony-and-reception">Weddings</a></li>
            <li><a class="text-muted" href="/spaces/workshop">Workshops</a></li>
            <li><a class="text-muted" href="/spaces/activities">All activities</a></li>
          </ul>
         </div>

         <div class="col-6 col-md">
          <h5 class="mb-3">Cities</h5>
          <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/spaces/search?address=Berlin,%20Germany&amp;sort_by=popularity" target="_blank">Berlin</a></li>
          <li><a class="text-muted" href="/spaces/search?address=Amsterdam,,%20Netherlands&amp;sort_by=popularity" target="_blank">Amsterdam</a></li>
          <li><a class="text-muted" href="/spaces/search?address=Detroit,%20MI,%20USA&amp;sort_by=popularity" target="_blank">Detroit</a></li>
          <br>
          <li><a class="text-muted" href="/rent/locations">All locations</a></li>
          <li><a class="text-muted" href="/rent/event-venues">All Space Types</a></li>
        </ul>


          <h5 class="mb-3 margin-top-30">Discover</h5>
          <ul class="list-unstyled text-small">

          <li><a class="text-muted" href="/how_it_works">How it works</a></li>
          <li><a class="text-muted" href="/big-business">Business Class</a></li>
          <li><a class="text-muted" href="/help">Help Center </a></li>
          <li><a class="text-muted" href="/users/list_your_space">List your space</a></li>
        </ul>

        </div>

      </div>
    </footer>
  </div>

