<!-- TOP CAROUSSEL INCL SEARCH FIELD
-->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_tag "business.jpg", height: 70 %>);">
  <div class="banner-content">
    <h1>Dicover open spaces</h1>
    <p>Find & book creative space for your next .....</p>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search in your city...">
      <input type="text" class="form-control" placeholder="Search for amenities ...">
      <span class="input-group-append">
        <button class="btn btn-primary" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>



<!-- CREDENTIALS
-->
<div><%= image_tag "credentials.jpg", height: 70 %>
</div>



<!-- CATEGORIES CA 4 ROWS WITH 3 CARDS EACH  -->

<div class="container">

  <div class="margin-top-30">
    <h1>Book a space that inspires</h1>
    <h2>Be inspired to meet, create, and innovate.
    </h2>
  </div>





  <div class="row">
    <% @categories.each do |category| %>

    <div class="col-xs-12 col-sm-4">
      <div class="card">

      </div>
    </div>

    <% end %>

  </div>


<!-- HOW IT WORKS: 3 SYMBOLS + TITLE + SUB-HEADLINE
-->
<div class="container">
  <div class="flexbox">
    <div class="flex direction column">
      <div>
        <%#= image_tag "space.png", height: 140 %>
        <h1>
          Find the perfect space
        </h1>
        <h2>
          Browse the marketplace and tailor your search to your activity needs.
        </h2>
      </div>
    </div>

    <div class="flex direction column">
      <div>
        <%#= image_tag "book.png", height: 140 %>
        <h1>
          Book it with ease
        </h1>
        <h2>
          Once you find a perfect match, book the space and pay online through our easy-to-use payment system.
        </h2>
      </div>

    </div>


    <div class="flex direction column">
      <%#= image_tag "meet.png", height: 140 %>
      <h1>
Meet, make or create
      </h1>
      <h2>
        Create a memorable experience in a memorable space, and enjoy!
      </h2>
    </div>
  </div>
</div>
</div>


<!-- BUSINESS CLASS
-->

REUSE THE BANNER AND RESIZE WIDTH AND HEIGHT, ADD BUTTON

<div class="banner" url(<%= image_tag "big-business.png", height: 750 %>);">
  <div class="banner-content">
    <h2>Exclusive access to free concierge services & secret listings for corporate clients</h2>
        <button class="btn btn-primary" type="button">Learn more</button>
  </div>
</div>

<!-- WHATS POPULAR
-->
<div class="container-popular">

 <h1> Our most popuar spaces
 </h1>
 <h2> Choose from theses selected place to create, collaborate or celebrate!</h2>
 <div class="row">

  <% @favourites.each do |favorite| %>
  <div class="col-xs-12 col-sm-4">

    <div class="favorites-spaces-card">


    </div>
  </div>
  <% end %>
</div>


<!-- MEET OUR HOSTS
-->


REDO THE SAME AS ABOVE
<div class="container-hosts">

  <h1>Meet our hots</h1>
  <h2>See what they have to say about their exprience with open space</h2>

  <div class="row">
    <div class="host-video-card">

    </div>
    <div class="host-video-card">

    </div>
    <div class="host-video-card">

    </div>
    <div class="caroussel-control"></div>
  </div>

  RENT OUT YOUR SPACE

  INSERT BANNER , FLEXBOX; JUSTIFY CENTER , ALIGN ITEMS CENTER


  <div class="col_xs-4 col_xs-offset-4">
    <h1>Rent a space out yourself</h1>
    <h2>Generate earnings with the open space rental plattform.
      Our Admin-Dashboard makes it easy to overview bookings and manage your space.
    </h2>
<!--   <a href=""> List your open space</a>
-->
</div>
