<!-- TOP CAROUSSEL INCL SEARCH FIELD
 -->

<div class="banner">
  <div class="col-xs-1">
    <div class="caroussel">

      <div class="typewriter-text">

      </div>

      <div class="search field ">

      </div>

    </div>
  </div>
</div>

<!-- CREDENTIALS
 -->

    <%= image_tag "credentials.jpg", height: 70 %>


<div class="col_xs-4 col_xs-offset-4">
  <h1>Book a space that inspires</h1>
  <h2>Be inspired to meet, create, and innovate.
</h2>

</div>


<!-- CATEGORIES CA 4 ROWS WITH 3 CARDS EACH  -->

<div class="container">
  <div class="row">
    <li>
    <div class="col-xs-4">

    </div>
    </li>

    <li>
    <div class="col-xs-4">

    </div>
    </li><li>
    <div class="col-xs-4">

    </div>
    </li><li>
    <div class="col-xs-4">

    </div>
    </li><li>
    <div class="col-xs-4">

    </div>
    </li><li>
    <div class="col-xs-4">

    </div>
    </li><li>
    <div class="col-xs-4">

    </div>
    </li><li>
    <div class="col-xs-4">

    </div>
    </li><li>
    <div class="col-xs-4">

    </div>
    </li><li>
    <div class="col-xs-4">

    </div>
    </li><li>
    <div class="col-xs-4">

    </div>
    </li><li>
    <div class="col-xs-4">

    </div>
    </li>
  </div>
</div>

<!-- HOW IT WORKS: 3 SYMBOLS + TITLE + SUB-HEADLINE
 -->
<div class="container">
  <div class="row">
    <div class="card">
    <%#= image_tag "space.png", height: 140 %>
    </div>

    <div class="card">
    <%#= image_tag "book.png", height: 140 %>

    </div>

    <div class="card">
    <%#= image_tag "meet.png", height: 140 %>

    </div>
  </div>
</div>


<!-- BUSINESS CLASS
 -->

<div class="container-business">
  <a href=""> </a>
</div>

<!-- WHATS POPULAR
 -->
<div class="container-popular">

 <h1> Our most popuar spaces
</h1>
<h2> Choose from theses selected place to create, collaborate or celebrate!</h2>
<div class="row">
    <div class="favorites-spaces-card">

    </div>
    <div class="favorites-spaces-card">

    </div>
    <div class="favorites-spaces-card">

    </div>
    <div class="caroussel-control"></div>
</div>


<!-- MEET OUR HOSTS
 -->
<div class="container-hosts">

  <h1>Meet our hots</h1>
  <h2>See what they have to say about their exprience with open space</h2>

  <div class="row">
    <div class="host-video-card">

    </div>
    <div class="host-video-card">

    </div>
    <div class="host-video-card">

    </div>
    <div class="caroussel-control"></div>
</div>

RENT OUT YOUR SPACE

<div class="col_xs-4 col_xs-offset-4">
  <h1>Rent a space out yourself</h1>
  <h2>Generate earnings with the open space rental plattform.
    Our Admin-Dashboard makes it easy to overview bookings and manage your space.
</h2>
<!--   <a href=""> List your open space</a>
 -->
</div>
