<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="col-md-6 col-xl-4">
                <div class="card">
                  <div class="card-status bg-orange"></div>
                  <div class="card-header">
                    <h3 class="card-title">Card orange</h3>
                    <div class="card-options">
                      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                      <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                  </div>
                  <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
                  </div>
                </div>
              </div>
