.parallax {
    /* The image used */
    // background-image: url("example8.jpg.jpg");

    /* Full height */
    height: 45%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
  }

.mask {
    /* The image used */
    // background-image: url("example8.jpg.jpg");

    /* Full height */
    width: 100%;
    // height: 100%;
    background-repeat: no-repeat;
     background-size: cover !important;

    /* Create the parallax scrolling effect */
  //   background-attachment: fixed;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}
